.mat-grid-tile {
  border: solid 0px #000;
}
.group-table-category-header {
  border: solid 0px #000;
  background: lightgray;
}
.group-table-category-name {
  border: solid 0px #000;
  background: lightsalmon;
}

table {
  width: 100%;
}

.example-container {
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: auto;
}

.mat-row:hover {
  background-color: lightgray;
}

.editable-grid-tile:hover {
  background-color: lightgray;
  cursor: pointer;
}
