<mat-card *ngIf="category" class="category-details-card">
    <mat-card-header>
      <mat-card-title>category details</mat-card-title>
      <mat-card-subtitle>{{category.key}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <label for="category-name">category name: </label>
        <input id="category-name" [(ngModel)]="category.name" placeholder="name">
      </div>
      <div>
        <label for="category-created-at">Created at: </label>
        <input id="category-created-at" [(ngModel)]="category.createdDate" placeholder="createdDate" disabled>
      </div>
      <div>
        <label for="category-modified-at">Last modified: </label>
        <input id="category-modified-at" [(ngModel)]="category.lastModified" placeholder="lastModified" disabled>
      </div>
      <mat-divider></mat-divider>
      <mat-error *ngIf="errorMsg">
        {{errorMsg}}
      </mat-error>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="goBack()">GO BACK</button>
      <button mat-button (click)="save()">SAVE</button>
    </mat-card-actions>
  </mat-card>