<h2>Dashboard</h2>

<p *ngFor="let accountancy of accountancies">
  <mat-card class="accountancy-summary-card">
    <mat-card-header
      class="accountancy-summary-card-header"
      routerLink="/dashboard/accountancies/{{ accountancy.key }}/report"
    >
      <mat-card-title>{{ accountancy.name }}</mat-card-title>
      <mat-card-subtitle>{{
        accountancy.lastModified | date : 'medium'
      }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Nº grupos expenses: {{ accountancy.expenses.length }}</p>
      <p>Nº grupos incomes: {{ accountancy.incomes.length }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/accountancies/{{ accountancy.key }}">
        CONFIG
      </button>
    </mat-card-actions>
  </mat-card>
</p>
